div#searchBlock.collapse
	div.container
		form.form-horizontal
			fieldset
				legend 
				div.control-group
					label.control-label(for='category') 分類
					div.controls
						select#category(name='category')
							option(value='-1') 請選擇
							- for (var i = 0;i < categories.length;i++)
								option(value='#{categories[i]._id}') #{categories[i].name}
				div.control-group
					label.control-label(for='data_description') 主要欄位說明
					div.controls
						input#data_description(name='data_description', type='text', placeholder='輸入關鍵字...')
						p.help-block 
				input#btnSearch.btn.btn-primary(type='button', value='搜尋')