div#searchBlock.collapse
	div.container
		form.form-horizontal
			fieldset
				legend Form Name
				div.control-group
					label.control-label(for='category') category
					div.controls
						select#category.input-xlarge(name='category')
				div.control-group
					label.control-label(for='data_description') data_description
					div.controls
						input#data_description.input-xlarge(name='data_description', type='text', placeholder='')
						p.help-block help
				input#btnSearch(type='button', value='搜尋')
				div.control-group
					label.control-label(for='holder') 資料提供機關
					div.controls
						input#holder.input-xlarge(name='holder', type='text', placeholder='')
						p.help-block help